body{
    margin:0px;
    padding:0px;
    background-color: aqua;
}

.box{
    margin-top:75px;
    width:90vw;
    background-color: white;
    margin-bottom:20px;
    padding-bottom:10px;
}

.admin-info-header {
    font-size: 2rem;
    color: red;
    height: 10%; 
}
  
.admin-info-box {
    height: 90%;
    border: 2px solid red;
    margin-bottom: 2rem;
    padding: 1rem;
}

.admin-info-box a {
    text-decoration:none;
}

.admin-info-box a div{
    background-color: red;
    color:white;
}

.admin-info-box a div:hover{
    color:red;
    background-color: white;
}