html {
    font-size: 14px; }
  
    body {
      background-color:aqua;
    }
  
  .heading {
    font-size: 28px; }
  
  .header {
    border-bottom: 4px solid red; }
  
  .navbar-item {
    background-color: orange;
    border-right: 4px solid red; }
  
  .box {
    height: auto;
    min-height: 63vh;
    margin-bottom:14px;
    background-color: lightgrey;
    padding: 14px;
    display: flex;
    flex-direction: column; }
  
  .contact-header {
    padding: 14px;
    font-size: 28px;
    color: red;
    height: 10%; }
  
  .contact-box {
    height: 90%;
    min-height: 63vh;
    padding: 14px; }
  
  /*Section*/
  section {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background-color: #9e9b9b29; }
  
  /*Contact Section*/
  #contact {
    width: 100%;
    height: auto;
    background: linear-gradient(90deg, #2857a4 60%, #403066); }
    #contact #myaddress p {
      color: white;
      font-size: 21px;
      font-weight: 550;
      display: inline-block; }
    #contact #myaddress #contact-location span {
      color: white;
      font-size: 21px;
      display: inline-block;
      margin-bottom: 14px; }
    #contact #myaddress #contact-mobile span {
      color: white;
      font-size: 21px;
      display: inline-block;
      margin-bottom: 14px; }
    #contact #myaddress #contact-email span {
      color: white;
      font-size: 21px;
      display: inline-block;
      margin-bottom: 14px; }
    #contact #message-submit {
      margin: auto;
      margin-top: 14px;
      display: block; }
  
  #contact-header {
    color: white;
    font-size: 42px;
    font-weight: 530;
    margin-top: 14px;
    margin-bottom: 49px; }
  
  #flex_user {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap; }
  
  /*Contact Section's Other Info Section*/
  #other-info {
    box-sizing: border-box;
    width: 35%;
    margin: auto; }
    #other-info #connect span {
      display: inline-block;
      color: white;
      font-size: 25px;
      font-weight: 550; }
    #other-info #connect #connect-text {
      display: inline-block;
      color: white;
      font-size: 17px;
      text-align: justify; }
  
  /*Contact Section's message-section*/
  #message-section {
    box-sizing: border-box;
    width: 35%;
    margin: auto; }
  
  #contact input[type="text"] {
    border: 0;
    outline: 0;
    border-bottom: 2px solid white;
    background-color: transparent;
    display: inline-block;
    margin-bottom: 37.8px;
    width: 100%;
    color: white;
    height: 28px;
    padding-left: 5.6px; }
  
  #contact input[type="submit"] {
    color: white;
    background-color: transparent;
    border: 2px solid white;
    padding: 11.2px 11.2px;
    font-weight: 550;
    display: inline-block; }
  
  #contact #message-submit:hover {
    background-color: white;
    color: blue; }
  
  @media screen and (max-width: 728px) {
    #other-info {
      width: 80%;
      margin-top: 140px;
      margin-bottom: 70px; }
    #message-section {
      width: 80%; } }
  
  .dropdown-menu {
    padding: 0px; }
    .dropdown-menu a {
      border-bottom: 1px solid black; }

.collapse ul li {
    font-size:17px !important;
}