body{
    margin:0px;
    padding:0px;
    background-color: aqua;
}

.login-info-header {
    font-size: 2rem;
    color: red;
    height: 10%; 
}
  
.login-info-box {
    height: 90%;
    border: 2px solid red;
    margin-bottom: 2rem;
    padding: 1rem;
}
  
.account-info-header {
    font-size: 2rem;
    color: red;
    height: 10%;
}
  
.account-info-box {
    height: 90%;
    border: 2px solid red;
    width: 100%;
    padding: 1rem; 
    margin-bottom:10px;
}
  
.dropdown-menu {
    padding: 0px; 
}

.dropdown-menu a {
      border-bottom: 1px solid black;
}

.box{
    margin-top:75px;
    width:90vw;
    background-color: white;
    margin-bottom:20px;
    padding-bottom:10px;
}

.login-info-box img {
    width: 100%;
    height: 100%; 
    object-fit: contain;
}